
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" , intial-scale="1.0" />
    <title>Uve Cinema</title>
    <link href="~/CSS/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="jumbotron">
            <h1> <b>Uve</b> </h1>
            <p>Login/Signup</p>
        </div>

    </header>
    <nav>
        <p>filter and sort</p>
    </nav>
    <main>
        @{ 
            var rowCount = 0;
            var loopCount = 0;
        }
        <div id="movieBrowse" class="container-fluid">
            @foreach (var item in Model.MovieItems)
            {
                <!--New row-->
                @if (loopCount % 3 == 0)
                {
                    @:<div class="row">
                }
                        <div class="col-sm-3">
                            <div class="thumbnail">
                                <img id="posters" src="../images/@item.Poster" alt="@item.Title">
                            </div>
                            <div class="caption">@item.Title</div>
                        </div>

                <!--End row-->
                @if (loopCount == (3+(4*rowCount)))
                {
                     @:</div>
                     rowCount++;
                }
                loopCount++;
            }

            
        </div>
    </main>
    <footer>

    </footer>

</body>
</html>
