
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" , intial-scale="1.0" />
    <title>Uve Cinema</title>
    <link href="~/CSS/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="jumbotron">
            <h1> <b>Uve</b> </h1>
            <p>Login/Signup</p>
        </div>

    </header>
    <nav>
        <p>filter and sort</p>
    </nav>
    <main>
        <!-- Gallery markup source https://www.w3schools.com/css/css_image_gallery.asp -->
        <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
                <img src="../images/HPPOA.jpg" alt="Harry Potter and the Prisoner of Azkaban" width="600" height="400">
            </a>
            <div class="desc">Harry Potter and the Prisoner of Azkaban</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="img_forest.jpg">
                <img src="../images/tenet.jpg" alt="Tenet" width="600" height="400">
            </a>
            <div class="desc">Tenet</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="../images/jurassicPark25.jpg" alt="Jurassic Park 25th Anniversary" width="600" height="400">
            </a>
            <div class="desc">Jurassic Park 25th Anniversary</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="../images/unhinged.jpg" alt="Unhinged" width="600" height="400">
            </a>
            <div class="desc text-warning" i>Unhinged</div>
        </div>
    </main>
    <footer>

    </footer>

</body>
</html>
