
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" , intial-scale="1.0" />
    <title>Uve Cinema</title>
    <link href="~/CSS/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="jumbotron">
            <h1> <b>Uve</b> </h1>
            <p>Login/Signup</p>
        </div>

    </header>
    <nav>
        <p>filter and sort</p>
    </nav>
    <main>
            
        <!--Template delegate for repeatable markup-->
        <div id="movieBrowse" class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                            <div class="thumbnail">
                                <img id="posters" src="../images/HPPOA.jpg" alt="Harry Potter and the Prisoner of Azkaban">
                            </div>
                            <div class="caption">Harry Potter and the Prisoner of Azkaban</div>
                    </div>
                    <div class="col-sm-4">
                            <div class="thumbnail">
                                <img id="posters" src="../images/inception.jpg" alt="Inception movie poster">
                            </div>
                            <div class="caption">Inception</div>
                    </div>
                    <div class="col-sm-4">
                            <div class="thumbnail">
                                <img id="posters" src="../images/jurassicPark25.jpg" alt="Jurassic Park 25th anniversary movie poster">
                            </div>
                            <div class="caption">Jurassic park 25th anniversary</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img id="posters" src="../images/onward.jpg" alt="Onward movie poster">
                        </div>
                        <div class="caption">Onward</div>
                    </div>
                </div>
        </div>
    </main>
    <footer>

    </footer>

</body>
</html>
