
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" , intial-scale="1.0" />
    <title>Uve Cinema</title>
    <link href="~/CSS/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="jumbotron">
            <h1> <b>Uve</b> </h1>
            <p>Login/Signup</p>
        </div>

    </header>
    <nav>
        <button data-toggle="collapse" data-target="#filters">Filters</button>
        <div id="filters" class="collapse">
            <h4>Filter by Screening Type</h4>
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-dark ">
                    <input type="checkbox" autocomplete="off"> 3D
                </label>
                <label class="btn btn-outline-dark">
                    <input type="checkbox" autocomplete="off"> 2D
                </label>
                <label class="btn btn-outline-dark ">
                    <input type="checkbox" autocomplete="off"> 4K
                </label>
                <label class="btn btn-outline-dark ">
                    <input type="checkbox" autocomplete="off"> Audio Description (AD)
                </label>
            </div>


            <h4>Filter by Genre</h4>
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-dark ">
                    <input type="checkbox" autocomplete="off"> Comedy
                </label>
                <label class="btn btn-outline-dark">
                    <input type="checkbox" autocomplete="off"> Documentary
                </label>
                <label class="btn btn-outline-dark ">
                    <input type="checkbox" autocomplete="off"> Sci-Fi
                </label>
                <label class="btn btn-outline-dark ">
                    <input type="checkbox" autocomplete="off"> Thriller
                </label>
            </div>
        </div>
    </nav>
    <main>
        @{ 
            var rowCount = 0;
            var loopCount = 0;
        }
        <div id="movieBrowse" class="container-fluid">
            @foreach (var item in Model.MovieItems)
            {
                
                @if (loopCount % 4 == 0)
                {
                    <!--New row-->
                    @:<div class="row">
                }
                        <div class="col-sm-3">
                                <img id="posters" class="img-fluid" src="../images/@item.Poster" alt="@item.Title">
                            <div class="caption">@item.Title</div>
                        </div>

               
                @if (loopCount == (3+(4*rowCount)))
                {   <!--End row-->
                     @:</div>
                     rowCount++;
                }
                loopCount++;
            }

            
        </div>
    </main>
    <footer>

    </footer>

</body>
</html>
