/*

*/

html, body, svg {
    height: 100%;
}


body{
    display: grid;
}

#bookingSvg{
    background-color:darkgrey;
}

#bookingInfo, #bookingLegend {
    background-image: linear-gradient(to right, hsl(120, 100%, 25%), black);
}

.unavailable{
    pointer-events: none;
    cursor: default;
   
}

.unavailable path{
    fill:red;
}
