
body {
    display: grid;
    background-image: linear-gradient(to right, hsl(120, 100%, 25%), black);
}

.close{
    color:white !important;
}

#login {
    width:30%;
}

.img-fluid{
    max-width:100%;
    height:auto;
}

.caption{
    color: white;
}

.jumbotron {
    background-image: linear-gradient(to right, hsl(120, 100%, 25%), black);
}

h1 {
    text-transform:uppercase;
    text-shadow: 2px 2px forestgreen;
}

.panel {
    display: none;
    background-color: black;
    color: white;
}

.card{
    min-width:50rem;
}

#cardLink *{
    text-decoration:inherit;
    color:inherit;
}
