body {
    display: grid;
}

.header {
    background-color: forestgreen;
}

#login {
    width:30%;
}

.img-fluid{
    max-width:100%;
    height:auto;
}

main {
    background-color:yellow;
}

#movieContent{
    background-color:black;
}

footer {
    background-color: aqua;
}

h1 {
    text-transform:uppercase;
    text-shadow: 2px 2px forestgreen;
}

.panel{
    display:none;
    background-color: darkgrey;
}

.card{
    min-width:50rem;
}

#cardLink *{
    text-decoration:inherit;
    color:inherit;
}
